<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/add-book" class="nav-link active" aria-current="page">Add Book</a></li>
          <li class="nav-item"><a href="/view-all-books" class="nav-link">View Books</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
      </header>
</div>
